dfiant_loopback/.idea/
dfiant_loopback/project/project
dfiant_loopback/project/target
dfiant_loopback/project/metals.sbt
dfiant_loopback/target/
dfiant_loopback/.metals/
dfiant_loopback/.bloop/
dfiant_loopback/*.vhdl
ompss_loopback/loopback_ait
